link(rel="stylesheet" href="css/style.css")
av.navbar.navbar-inverse
  .container-fluid
    .navbar-header
      a.navbar-brand(href='/') Cerrar Sesion!
    ul.nav.navbar-nav
      li.active
        a(href='/Balances') Balance
      li
        a(href='/Cuentas') Cuentas
      li
        a(href='/Transacciones') Transacciones
        
    ul.nav.navbar-nav.navbar-right
      li
          | You are logged in as
          | #{email}
          