link(rel="stylesheet" href="css/style.css")
av.navbar.navbar-inverse
  .container-fluid
    .navbar-header
      a.navbar-brand(href='/') Cerrar Sesion!
    ul.nav.navbar-nav
      li
        form(action='/Cuentas' method='get')
         button(type='submit' name='id' value='0') Cuentas
      li
        form(action='/Transacciones' method='POST')
         button(type='submit' name='id' value='0') Transacciones
        
    ul.nav.navbar-nav.navbar-right
      li
          | You are logged in as
          | #{email}
          