<html>
<head>
	
  <title>BankMX Application</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
  <link rel="manifest" href="/manifest.json">
</head>
<body>
  <div style="margin:100px;">
   
 <class="navbar navbar-inverse navbar-static-top">
  <div class="container">
    <a class="navbar-brand" href="/">BankMX</a>
  </div>
</nav>
    <div class="jumbotron"  style="padding:40px;">
      <h1>BanMX!</h1>
      <p>Bienvenido al sistema con el cual podras acceder facilmente a todas tus cuentas</p>
      <p><a class="btn btn-primary btn-lg" href="/login" role="button">Crear cuenta</a></p> 
    </div>
  </div>
</body>
</html>
<script>
 if (!navigator.serviceWorker.controller) {
     navigator.serviceWorker.register("/sw.js").then(function(reg) {
         console.log("Service worker has been registered for scope: " + reg.scope);
     });
 }
</script>
