</html>
<head>
  <title>Express HTML</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
</head>
<body>
  <div class="jumbotron"  style="padding:40px;">
   
	<h1>BanMX!</h1>
   <form action="/logSession" method="POST">
  User: <input type="text" name="femail" placeholder="juan@gmail.com" required><br>
  Password: <input type="password" name="fpassword"  required><br>
 <button type="submit">Login</button>
</form>
	 
    </div>
  </div>
</body>
</html>
 